
  
  #list-container {
    width: 400px;
    margin: auto;
    background: lightgrey;
  }
  
  #list-container ul {
    padding: 0;
    list-style: none;
    background: lightgrey;
  }
  
  #list-container ul li {
    padding: 5px;
    font-size: 24px;
    color: black;
    margin-bottom: 2px;
    overflow: auto;
    height: fit-content;
  }
  
  #list-container input {
    width: 100%;
    height: 35px;
  }

  .frog {
    position: relative;
    top: 140px
  }

  .smell {
    position: relative;
    left:680px;
    bottom:50px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }

  #list-container {
    position: relative;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }

  .btn3 {
position: relative;
top: 50px
  }