.display-3 {
    position: relative;
    height: 200px;
    bottom: 50px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.table {
    position: relative;
    bottom: 230px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

h6 {
    position: relative;
    bottom:200px;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.crazy {
    position: relative;
    bottom: 200px;

}