.bad {
    position: relative;
    left: 350px
}

.button7 {
    position: relative;
    width: 400px;
    top: 150px;
    left: 270px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   

}

.text {
    position: relative;
    top: 100px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}