.dill {
    position: relative;
    bottom: 280px;
    left: 260px;
}

#dropdownMenuButton {
    position: relative;
    bottom: 295px;
    left: 257px
}

.display {
    position: relative;
    bottom: 70px;
}